<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>HANA-ScriptView-Demo</display-name>
	<welcome-file-list>
		<welcome-file>CalcViewDataReaderServlet</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>CalcViewDataReaderServlet</display-name>
		<servlet-name>CalcViewDataReaderServlet</servlet-name>
		<servlet-class>com.sap.hana.cloud.samples.scriptview.ScriptViewDemoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalcViewDataReaderServlet</servlet-name>
		<url-pattern>/CalcViewDataReaderServlet</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<res-ref-name>jdbc/DefaultDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
	</resource-ref>

	<servlet>
		<description></description>
		<display-name>RemotingServlet</display-name>
		<servlet-name>RemotingServlet</servlet-name>
		<servlet-class>com.sap.core.jdbc.remoteaccess.server.RemotingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemotingServlet</servlet-name>
		<url-pattern>/RemotingServlet/*</url-pattern>
	</servlet-mapping>
	<!-- This filter protects the Remote Access servlet against cross site request 
		forgery and must be added for security reasons. The Remote Access servlet 
		will check the existence of the filter and fail in case it is not registered! -->
	<filter>
		<filter-name>RestCSRF</filter-name>
		<filter-class>com.sap.core.js.csrf.RestCsrfPreventionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RestCSRF</filter-name>
		<servlet-name>RemotingServlet</servlet-name>
	</filter-mapping>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Tunnel</web-resource-name>
			<url-pattern>/RemotingServlet/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>jdbc_remote_access_admin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-role>
		<description>Administrators</description>
		<role-name>jdbc_remote_access_admin</role-name>
	</security-role>
</web-app>